/* TODO: Add your styles here */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #6E1E8C;
  --dark-purple: #3C145A;
  --yellow: #FAC800;
  --green: #219A40;
  --gray: #F0F0F0;

  /* day palette */
  --primary: var(--purple);
  --background: var(--yellow);
  --secondary: var(--dark-purple);
}

/* nite palette */
:root.nite {
  --primary: var(--yellow);
  --background: var(--dark-purple);
  --secondary: var(--gray);
}

body {
  font-family: "Instrument Sans", sans-serif;
  color: var(--primary);
  background: var(--background);
  transition:
    background 0.35s ease,
    color 0.35s ease;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

/* SIDEBAR */

.sidebar {
  width: 190px;
  height: 78%;
  /* border-right: 1px solid var(--secondary); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding-top: 15px;
  padding-left: 10px;
  height: 100%;
}

.year {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  align-self: flex-end;
  margin-right: -24px;
}

.vertical-group {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.month {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 132px;
  line-height: 0.85;
  font-weight: 600;
  margin-right: -6px;
}

.dates {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 43px;
  font-weight: 600;
  color: var(--secondary)
}

.details {
  display: inline;
  align-content: center;
  gap: 14px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  width: 100%;
  color: var(--secondary);
}

.details h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.details h2 {
  font-size: 12px;
}

.details p {
  font-size: 12px;
}

/* LOGO */

.logo {
  position: absolute;
  bottom: 24px;
  left: 8px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.logo-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 87%;
  transition:
    opacity 0.35s ease,
    transform 0.35s ease;
}

html {
  height: 100%;
  font-size: 1vw;
}

.container {
  height: 100%;
  font-size: 1vw;
  top: 50%;
  position: absolute;
  width: 120px;
  height: 120px;
  left: 42px;
  top: -72px;
  z-index: 1;
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.circle-anim {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  border-radius: 50%;
  /* animation: nite 3s infinite; */
  transform: rotate(-30deg);
}

.circle-anim.nite {
  animation: toNite 0.6s ease forwards;
}

.circle-anim.day {
  animation: toDay 0.6s ease forwards;
}

@keyframes toNite {
  0% {
    border-left: 0 solid var(--gray);
    background-color: var(--gray);
  }

  100% {
    border-left: 3rem solid var(--gray);
    background-color: transparent;
  }
}

@keyframes toDay {
  0% {
    border-left: 3rem solid var(--gray);
    background-color: transparent;
  }

  100% {
    border-left: 0 solid var(--gray);
    background-color: var(--gray);
  }
}

/* TIMETABLE */

.timetable {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 90%;
}

.column {
  /* border-right: 1px solid var(--secondary); */
  position: relative;
}

/* .column:last-child {
  border-right: none;
} */

.column-header {
  padding-top: 14px;
  padding-bottom: 9px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  color: var(--secondary);
}

.column-body {
  position: relative;
}

.event {
  position: absolute;
  padding: 8px;
  overflow-y: auto;
  border-radius: 10px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  transition: 0.2s;
}

.event h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.event p {
  font-size: 12px;
}

/* TOGGLE */

.toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 74px;
  height: 32px;
  border: none;
  border-radius: 999px;
  background: var(--primary);
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  transition: all 0.35s ease;
}

.toggle-knob {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--background);

  transition:
    transform 0.35s ease,
    background 0.35s ease;
}

.toggle.active .toggle-knob {
  transform: translateX(42px);
}

.toggle-label {
  position: absolute;
  width: 100%;
  text-align: end;
  padding-right: 16px;
  font-size: 12px;
  font-weight: 700;
  color: var(--background);
  text-transform: lowercase;
  pointer-events: none;
}

.toggle.active .toggle-label {
  transform: translateX(-24px);
}