/* TODO: Add your styles here */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #6E1E8C;
  --dark-purple: #3C145A;
  --yellow: #FAC800;
  --green: #219A40;
  --gray: #F0F0F0;

  /* day styles */
  --primary: var(--purple);
  --background: var(--yellow);
  --secondary: var(--dark-purple);
  /* --accent: var(--gray); */
}

:root.nite {
  --primary: var(--yellow);
  --background: var(--dark-purple);
  --secondary: var(--gray);
  /* --accent: var(--gray); */
}

body {
  font-family: "Instrument Sans", sans-serif;
}

.page {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  display: flex;
  position: relative;
  overflow: hidden;
  color: var(--primary);
}

/* SIDEBAR */

.sidebar {
  width: 190px;
  height: 78%;
  border-right: 1px solid var(--secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding-top: 15px;
  padding-left: 10px;
  height: 100%;
}

.year {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  align-self: flex-end;
  margin-right: -24px;
}

.vertical-group {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.month {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 132px;
  line-height: 0.85;
  font-weight: 600;
  margin-right: -6px;
}

.dates {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 43px;
  font-weight: 600;
  color: var(--secondary)
}

/* LOGO */

.logo {
  position: absolute;
  bottom: 24px;
  left: 8px;
  display: flex;
  align-items: center;
  padding: 3px;
}

html {
  height: 100%;
  font-size: 1vw;
}

.container {
  height: 100%;
  font-size: 1vw;
  top: 50%;
  position: absolute;
  width: 120px;
  height: 120px;
  left: 42px;
  top: -72px;
  z-index: 1;
}

.moon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.light {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  border-radius: 50%;
  animation: nite 3s infinite;
  transform: rotate(-30deg);
}

@keyframes nite {

  0% {
    border-left: 0 solid var(--gray);
    /* border-right: 0 solid var(--gray); */
    background-color: var(--gray);
  }

  100% {
    border-left: 3rem solid var(--gray);
  }
}

.logo-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 87%;
}

/* CALENDAR */

.calendar {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 90%;
}

.day-column {
  border-right: 1px solid var(--secondary);
  position: relative;
}

.day-column:last-child {
  border-right: none;
}

.day-title {
  padding-top: 14px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  color: var(--dark-purple);
}

/* TOGGLE */

.toggle {
  position: absolute;
  bottom: 24px;
  right: 16px;
  width: 56px;
  height: 24px;
  background: var(--secondary);
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.toggle-knob {
  width: 30px;
  height: 18px;
  border-radius: 999px;
  background: var(--background);
}